fastapi
uvicorn[standard]
sqlalchemy
psycopg2
databases[aiosqlite]
databases[asyncpg]
python-dotenv
pydantic-settings
rich
asgi-correlation-id
asgi_correlation_id
python-json-logger
logtail-python
python-jose
passlib[bcrypt]
python-multipart
pywhatkit
pandas
unidecode
httpx
openpyxl
